/* styles */
/* called by your view template */

* {
  box-sizing: border-box;

}

 body {
  font-family: 'Lato', arial, sans-serif;
  margin: 2em;
}
/*
h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}



input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}



button:hover {
  background-color: yellow;
} */

main {
  padding: 2em;
}

.main-title{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
}

.message-title{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2em;


}

#photo-input{
  font-size: 16px;
  border-radius: 3px;
  padding: 5px;
  width:100%;
  background-color: #c7ecee;
  border: 2px solid #30336b;
  box-shadow: 5px 5px #130f40;
  cursor: pointer;
  float:right;

}

form {
  margin-bottom: 25px;
  padding: 15px;
/*  background-color: rgba(72, 52, 212,1.0);
*/  
  background-image:linear-gradient(to bottom right, #4834d4, #eb4d4b);;
  display: inline-block;
  width: 100%;
  border-radius: 3px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  padding: 5px;
  background-color: #c7ecee;
  border: 2px solid #30336b;
  box-shadow: 5px 5px #130f40;
  cursor: pointer;
  float:right;
}

.button{
  margin:auto;
  height:90px;
  width: 90px;
  border-radius: 50%;
  border: 0px solid #e55;
}

.recording {
  background-color: #de2211;
}


.audio-button-container{
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #8e44ad;
  border-radius: 10px;
}


.enable-mic-container{
  text-align: center;
  margin: 10px;
}


button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

.audio-side{
  background-color:#25CCF7;
  padding:16px;
  border-radius: 10px;

  
}

#waveform{
  text-align: center;
  padding-top:40px;
}

.output-side{
  background-color:#F8EFBA;
  height:100%;
  padding:16px;
  border-radius: 10px;
}

.messages-container-title{
  font-family:'Playfair Display', serif;
  text-align: center;
  font-size: 1em;
}

#descriptive-message{
  color:#2C3A47;
}

.other-name{
  font-family: 'Playfair Display', serif;
  font-weight: 700em;
  text-align: center;
  color: white;
/*  background-color: #4834d4;
*/  
  background-image:linear-gradient(to bottom right, #7ed6df, #4834d4);;
  padding:5px;
  height:100px;
  margin: 5px 10px;
  border: 2px solid #4834d4;
  box-shadow: 5px 5px #ff7979;

}

.other-message{
    text-align: left;
    padding: 5px;
    margin: 5px 10px;
    height:100px;
    overflow:scroll;
    border: 2px solid #c7ecee;
    box-shadow: 5px 5px #95afc0;




}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}